<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.mapper.LessonMapper">
    <insert id="enroll">
        insert into student(name,account,password)
        values(#{name},#{account},#{password})
    </insert>
    <update id="updateStudentId">
        update student set name=#{stuName}
        where student_id=#{stuId}
    </update>
    <delete id="deleteStudentId">
        delete  from student where student_id=#{stuId}
    </delete>

    <select id="login" resultType="com.cy.pojo.Student">
        select *
        from student
        where account = #{account}
         and password = #{password}

    </select>

</mapper>